/* About Page Styling - Fixed Layout */

.images-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    /* CONSTANT Fixed height constraint. Using px as safer default, or 40vh if preferred. User requested "e.g. 40vh or 450px". I will use 40vh with a min-px to be safe, or just fixed constraint. Let's use 40vh as base but ensure it doesn't shrink. */
    height: 40vh;
    max-height: 500px;
    /* Constraint */
    min-height: 300px;
    /* Safety */
    margin-bottom: 30px;
    gap: 10px;
    overflow: hidden;
}

.image-box {
    overflow: hidden;
    height: 100%;
    position: relative;
    transition: width 0.3s ease;
    /* Smooth width transition */
}

/* Width Distribution (35% | 35% | 30%) */
.image-box:nth-child(1) {
    width: 35%;
}

.image-box:nth-child(2) {
    width: 35%;
    min-width: 450px;
}

.image-box:nth-child(3) {
    width: 30%;
}


.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Crucial */
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: grayscale(100%);
}


.image-box:hover img {
    transform: scale(1.025);
}

.about-title {
    font-size: 40px;
    margin-left: 30px;
    padding-bottom: 2px;
    position: relative;
    display: table;
}

.about-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 1px;
    background-color: var(--white-color);
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 60px;
}

/* Topic (Text Columns) Styling */
.topic:first-child {
    width: 35%;
    position: relative;
    top: 30px;
}

.topic {
    display: flex;
    flex-direction: column;
    width: 15%;
    font-size: 15px;
    line-height: 1.6;
    color: var(--secondary-white-color);
}

.topic .head-font {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--white-color);
}


/* --- Responsive Logic --- */

/* Tablet/Small Desktop Breakpoint: Hide 3rd Image */
@media (max-width: 900px) {
    .about-title {
        margin-left: initial;
    }

    /* Hide 3rd Image */
    .image-box:nth-child(3) {
        display: none;
    }

    /* Remaining 2 images split space evenly */
    .image-box:nth-child(1),
    .image-box:nth-child(2) {
        min-width: 49%;
    }

}

/* Mobile Layout Adjustments (Text, etc.) */
@media (max-width: 768px) {
    /* DO NOT change height here. Height stays constant from main rule */

    .images-holder {
        gap: 5px;
    }

    .about-content {
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        gap: 30px;
    }

    .topic:first-child {
        width: 100%;
        position: static;
        top: 0;
    }

    .topic {
        width: 100%;
    }

    .about-title {
        text-align: center;
        width: 100%;
        display: block;
        margin-left: 0;
        font-size: var(--mobile-font-h1);
    }

    .about-title:after {
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Small Mobile Breakpoint (< 450px): Hide 2nd Image */
@media (max-width: 450px) {

    /* Hide 2nd Image */
    .image-box:nth-child(2) {
        display: none;
    }

    /* 1st Image takes full width */
    .image-box:nth-child(1) {
        width: 100%;
    }
}