.images-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.image-box {
    overflow: hidden;
}

.image-box img {
    height: 100%;
    transition: transform 0.3s ease;
}


.image-box:hover img {
    transform: scale(1.025);
}

.about-title {
    font-size: 40px;
    margin-left: 30px;
    padding-bottom: 2px;
    position: relative;
}

.about-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 1px;
    background-color: var(--white-color);
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px
}

.topic:first-child {
    width: 35%;
    position: relative;
    top: 30px;
}

.topic {
    display: flex;
    flex-direction: column;
    width: 15%;
    font-size: 15px;
}

.topic .head-font {
    font-size: 18px;
}


@media (max-width: 810px) {
    .about-title {
        margin-left: initial;
    }
}

/* Mobile Rebuild */
@media (max-width: 768px) {
    .images-holder {
        height: 40vh;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        /* Ensure flex is active */
        justify-content: center;
    }

    .image-box {
        position: relative;
        /* Reset from absolute if set elsewhere */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    }

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Show only first image, no animation */
    .image-box:nth-child(1) {
        display: flex;
        animation: none;
        opacity: 1;
        visibility: visible;
    }

    .image-box:nth-child(2),
    .image-box:nth-child(3) {
        display: none;
    }

    .about-content {
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        gap: 20px;
        text-align: justify;
    }

    .topic:first-child {
        width: 100%;
        position: static;
        top: 0;
    }

    .topic {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .about-title {
        text-align: center;
        width: 100%;
        display: block;
        margin-left: 0;
        font-size: var(--mobile-font-h1);
    }

    .about-title:after {
        left: 50%;
        transform: translateX(-50%);
    }
}