/* -------------------------------------------------- */
/* Import Google Fonts                                */
/* -------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------------------------- */
/* Root Variables                                     */
/* -------------------------------------------------- */
:root {
    --main-color: #1f2020;
    --secondary-color: #2d2d2d;
    --black-color: #000000;
    --white-color: #ffffff;
    --secondary-white-color: #cccccc;
    --photo-bg: #c4c4c4;

    /* Standardized Mobile Font Sizes */
    --mobile-font-h1: 36px;
    --mobile-font-h2: 24px;
    --mobile-font-h3: 20px;
    --mobile-font-p: 15px;
    --mobile-font-small: 13px;
}

/* -------------------------------------------------- */
/* Global Reset                                       */
/* -------------------------------------------------- */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

/* -------------------------------------------------- */
/* Typography                                         */
/* -------------------------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-color);
    color: var(--white-color);
}

.head-font {
    font-family: "Poppins", serif;
    font-weight: 800;
}

.body-font {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}


/* -------------------------------------------------- */
/* Selection Highlight                                */
/* -------------------------------------------------- */
::selection {
    background: var(--secondary-white-color);
    color: var(--main-color);
}

/* -------------------------------------------------- */
/* Links and Lists                                    */
/* -------------------------------------------------- */
a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

i {
    cursor: pointer;
}

button {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
}

button:hover {
    font-weight: 650;
}

/* -------------------------------------------------- */
/* Containers                                         */
/* -------------------------------------------------- */
.main-container {
    padding: 0 15px;
    margin: 0 auto;
}

/* -------------------------------------------------- */
/* Image Styling                                      */
/* -------------------------------------------------- */
.image>img {
    width: 100%;
}