/* -------------------------------------------------- */
/* Navbar Styling                                     */
/* -------------------------------------------------- */
.navbar {
    background-color: var(--secondary-color);
    color: #ffffff;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signature {
    font-family: "Mrs Saint Delafield", serif;
    font-size: 35px;
    padding: 5px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    padding: 0;
    font-size: 15px;
    font-weight: 100;
}

.navbar-nav>span {
    padding: 10px;
    margin-right: 50px;
}

.navbar-nav .image {
    height: 24px;
}

.navbar-nav>span:nth-child(4) {
    margin-right: 10px;
}

.navbar-nav a {
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav a:hover {
    color: var(--secondary-white-color);
    cursor: pointer;
}

.navblock {
    position: absolute;
    right: 2.5%;
    top: 102%;
    height: 350px;
    width: 20%;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    justify-content: space-between;
    display: none;
    z-index: 10;
}

@media (min-width: 769px) {

    .navbar-nav span:nth-child(4):hover+.navblock,
    .navblock:hover {
        display: flex;
        flex-direction: column;
    }
}

.navblock span {
    margin: 10px;
    padding: 10px;
}

@media (max-width: 580px) {
    .navbar {
        height: 15vh;
        flex-direction: column;
        padding: 0;
    }

    .navbar-nav {
        margin: 2px auto;
    }

    .navblock {
        width: 95%;
    }
}